/* for shortcode [tpdate]
.the_course {
}
.tpdate {
}
.tpdate tr {
}
.tpdate td {
}
*/
.tpdatecol {
	border-bottom:1px dotted silver; 
	font-size:2px;
}

/* enrollments page, anzeige.php */
h3.tp_enrollments {
	color:#005A46;
}
.enrollments {
}
.warteliste {
	font-size:10px;
	color:#FF0000;
	padding-left:5px;
}
.einschreibefrist {
	font-size:10px;
	color:#FF0000;
}

/* table desgin, anzeige.php */
.teachpress_table {
	border-collapse: collapse; 
	border: 1px solid silver;
	font-size:11px;
}
.teachpress_table th{
	padding:5px; 
	color:#FFFFFF;
	background-image:url(images/table_background.png);
	background-color:#418f7c;
	background-repeat:repeat-x;
	margin:5px;
	border-collapse: collapse; 
	border: 1px solid silver;
	font-size:11px;
}
.teachpress_table tr {
	padding:5px; 
	background-color:#FFFFFF;
	color:#000000;
	margin:5px;
	border-collapse: collapse; 
	border: 1px solid silver;
	font-size:12px;
}
.teachpress_table td {
	padding:5px;
	margin:5px;
}
#teachpress_copy {
	background-image:url(images/logo_small.png);
	background-repeat:no-repeat;
	padding-left:20px;
}

/* teachPress cloud, shortcode [tpcloud] */
.teachpress_filter {
	text-align:center;
	padding-top:5px;
}
.teachpress_cloud {
	text-align:center;
}
/* active tags */
.teachpress_cloud a.teachpress_cloud_active {
	color:#418f7c;
	font-weight:bold;
}
.teachpress_cloud a.teachpress_cloud_active:hover {
	color:#418f7c;
	font-weight:bold;
	text-decoration:underline;
}
.teachpress_cloud a {
	color:#AAAAAA;
	text-decoration:none;
}
.teachpress_cloud a:hover {
	color:#AAAAAA;
	text-decoration:underline;
}

/* shortcodes [tpcloud] [tplist]*/
.teachpress_publication_list {
	width:100%;
}
.teachpress_publication_list td {
	padding:5px;
}
td.tp_pub_info {
	border-bottom:1px solid silver;
	vertical-align:top;
	padding:8px;
}
.tp_publication {
}
.tp_pub_autor {
	font-size:small;
	margin-bottom:1px;
	margin-top:1px;
}
.tp_pub_titel {
	font-weight:bold;
	margin-top:1px;
	margin-bottom:1px;
}
.tp_pub_zusatz {
	font-size:small;
	margin-top:1px;
	margin-bottom:1px;
}
.tp_pub_typ {
	font-weight:bold;
}
.tp_pub_image_bottom {
}
h3.tp_h3 {
	color:#177665;
}
.teachpress_message {
	border:1px solid #f90;
	border-left-width:0.9em;
	font-weight:bold;
	margin:1em;
	padding:.5em 1em;
}
/* course overview, anzeige_lvs.php */
#anzeigelvs h3 {
	color:#177665; 
}
.tp_auswahl {
	margin:3px;
	padding:3px;
}
.tp_lvs_name {
	font-size:14px;
	color:#177665;
}
.tp_lvs_container {
	margin:5px; 
	border-bottom:1px solid silver; 
	border-right:1px solid silver;
	padding:10px;
}
.tp_lvs_comments {
	padding-top:5px;
}