/* Vereinbarungen fuer die Druckausgabe des Browsers*/
/* betrifft nur das WordPress Backend ab Version 2.7*/
ul#adminmenu {
	display:none;
	width:0px;
}
div#wrap {
	position:absolute;
	left:0px;
	padding:0px;
	margin:0px;
}	
div#wpbody {
	margin:0px;
}
table#einzel_optionen, table#show_lvs_optionne, p#show_lvs_optionen_2, table#personensuche, table#teachpress_edit, table#filter, table#auswahllisten, div#einschreibungen p a, form#form1, form#einzel h2 small a, div#footer, div#wphead, div#screen-meta, a#daten_aendern_2, .teachpress_back, .teachpress_select, .tp_break {
	display:none;
}		
.teachpress_link {
	color:#000000;
	text-decoration:none;
}	
table.widefat *{
	border:1px solid silver;
}
.tp_print th {
	border:1px solid black;
	padding:5px 5px 5px 5px;
}
.tp_print td {
	border:1px solid black;
	padding:5px 5px 5px 5px;
}