/* Help section */
p.hilfe_headline {font-weight:bold;}
p.hilfe_text {padding-left:10px;}
a.teachpress_delete {color:#d62719; text-decoration:none; font-size:12px; font-weight:bold;}
a.teachpress_delete:hover {text-decoration:underline;}
.tp_print th {border:1px solid black; padding:5px 5px 5px 5px;}
.tp_print td {border:1px solid black; padding:5px 5px 5px 5px;}
.teachpress_message {-webkit-border-radius: 3px; -khtml-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#FFFFCC; border:1px solid silver; padding:7px; margin:7px 0 7px 0; width:80%;}
/* others */
td.tp_course_child {padding-left:25px; background: url(../images/child.png) no-repeat 8px 6px;}
/* Message menu */
.tp_row_actions {visibility: hidden;padding: 2px 0 0;color:#000000;}
.tp_row_actions a:hover {color:#FF6600;}
tr:hover .tp_row_actions {visibility: visible;}
.tp_row_actions-visible {padding: 2px 0 0;cursor: pointer;}