/* Help container */
div#hilfe_anzeigen {-webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: rgb(243,243,243); border:1px solid silver; padding:5px; margin:5px; display:none;}
/* Help headline */
h3.teachpress_help {color:#005A46; margin-bottom:5px;}
p.hilfe_headline {font-weight:bold;}
p.hilfe_text {padding-left:10px;}
p.hilfe_close {padding-left:15px;}
/* Design for Submit-Buttons */
.teachpress_back, input.teachpress_button, .teachpress_select {-webkit-border-radius: 11px; -khtml-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px; border: 2px inset; line-height: normal; display: inline-block; text-align: center; font: normal normal normal 13px/19px 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif; text-decoration: none; border-style: solid; border-width: 1px; cursor: pointer; font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif; font-size: 11px !important; line-height: 16px; padding: 2px 8px; border-color: rgb(140, 189, 213); color: rgb(9, 62, 86); background: url(../images/white-grad.png) repeat-x scroll 0% 0% rgb(242, 242, 242); text-shadow: rgb(255, 255, 255) 0px 1px 0px; margin: 0px 1em 0px 10px;}
a.teachpress_delete {color:#d62719; text-decoration:none; font-size:12px; font-weight:bold;}
a.teachpress_delete:hover {text-decoration:underline;}
.tp_print th {border:1px solid black; padding:5px 5px 5px 5px;}
.tp_print td {border:1px solid black; padding:5px 5px 5px 5px;}
.teachpress_message {-webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:#FFFFCC; border:1px solid silver; padding:5px;nmargin:5px; width:80%;
}